.underline {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

.rust {
  text-decoration-color: #f74b00;
}

.typescript {
  text-decoration-color: #3178c6;
}

.golang {
  text-decoration-color: #00add8;
}

.commerce {
  text-decoration-color: #6058ff;
}

.projects-section {
  margin-top: var(--spacing-unit);
}
