.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-unit);
}

.card {
    min-height: 450px;
    max-width: 350px;
    background-color: var(--color-background);
    border-radius: 8px;
    border: 1px solid var(--color-text);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

@media (min-width: 850px) {
    .card:hover {
        transform: translateY(-3px);
        box-shadow: 0 1px 0px var(--color-text);
    }
}

.cardTitleText {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

.techBadges {
    font-size: 0.9rem;
    color: color-mix(in srgb, var(--color-text) 70%, transparent);
}

.imageWrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    margin-bottom: 1rem;
}

.cardImage {
    object-fit: cover;
    border-radius: 4px;
}

.cardContent {
    font-size: 90%;
}

@media (max-width: 850px) {
    .container {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: var(--spacing-unit);
        padding-bottom: var(--spacing-unit);
    }

    .card {
        flex: 0 0 350px;
        scroll-snap-align: start;
    }
}
