/* mdx-styles.module.css */

.h1 {
    margin-bottom: 0.25rem;
    line-height: 1.2;
}

.p {
    margin-bottom: calc(var(--spacing-unit) * 0.5);
    line-height: 1.6;
}

.blockquote {
    padding-inline: calc(var(--spacing-unit) * 0.5);
    margin-left: 0;
    margin-right: 0;
    margin-bottom: calc(var(--spacing-unit) * 0.5);
    border-left: 2px solid var(--color-quote-border);
    background-color: var(--color-blockquote-bg);
    font-style: italic;
}

.ul,
.ol {
    margin-bottom: var(--spacing-unit);
    padding-left: calc(var(--spacing-unit) * 1.5);
}

/* This is for remark-gfm task lists, which adds `class="task-list-item"` */
.li > input[type="checkbox"] {
    margin-right: 0.5em;
}

.img {
    max-width: 100%;
    height: auto;
    margin-block: var(--spacing-unit);
    border-radius: 4px;
}

.pre {
    font-family: var(--font-mono, monospace);
    padding: var(--spacing-unit);
    font-size: 0.9em;
    border-radius: 6px;
    border: 1px solid var(--color-border);
    overflow-x: auto;
    margin-bottom: var(--spacing-unit);
}
