.blog__listContainer {
    margin-top: 2rem;
}

.blog__listTitle {
    margin-bottom: 1.5rem;
    color: var(--color-text);
}

.blog__postList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.blog__postLink {
    text-decoration: none;
    color: inherit;
    display: block;
}

@media (min-width: 850px) {
    .card:hover {
        transform: translateY(-3px);
        box-shadow: -2px 2px 0px var(--color-text);
    }
}

.blog__post:active {
    transform: translateY(0);
    box-shadow: 0 0 0 var(--color-text);
    transition-duration: 80ms;
    transition-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

.blog__post {
    padding: 1rem;
    border: 1px solid var(--color-text);
    border-radius: 0.5rem;
    transition:
        transform 200ms cubic-bezier(0.2, 0.8, 0.2, 1),
        box-shadow 200ms cubic-bezier(0.2, 0.8, 0.2, 1);
}

/*.blog__post::after {
    content: "";
    display: block;
    clear: both;
    border: 1px solid var(--color-text);
}
*/
.blog__post h3 {
    margin-bottom: 0.5rem;
    color: var(--color-text);
}

.blog__postDate {
    display: block;
    font-size: 0.9rem;
    color: light-dark(hsl(0, 0%, 50%), hsl(0, 0%, 70%));
    margin-bottom: 0.5rem;
}

.blog__postDescription {
    margin-bottom: 0;
}
